# Basic Data Analysis with Pandas
In this notebook, we will:
1. Load a sample dataset.
2. Inspect the data.
3. Perform basic data manipulation.

In [ ]:
# Importing necessary libraries
import pandas as pd
import numpy as np

## 1. Load a sample dataset
We'll use the famous Titanic dataset for this example.

In [ ]:
# Load the Titanic dataset from a URL
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic. '
titanic_df = pd.read_ (url)

# Display the first 5 rows of the dataframe
titanic_df.head()

## 2. Inspect the data
Let's check the basic information about the dataset.

In [ ]:
# Display basic information about the dataframe
titanic_df.info()

In [ ]:
# Display summary statistics of the dataframe
titanic_df.describe()

## 3. Perform basic data manipulation
Let's perform some basic data manipulation tasks such as handling missing values and adding new columns.

In [ ]:
# Check for missing values
titanic_df.isnull().sum()

In [ ]:
# Fill missing values in 'Age' with the mean age
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())

# Fill missing values in 'Embarked' with the mode
titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

In [ ]:
# Verify missing values have been filled
titanic_df.isnull().sum()

In [ ]:
# Add a new column 'FamilySize' which is the sum of 'SibSp' and 'Parch' columns
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch']
titanic_df.head()