In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

In [ ]:
print(my_list[0])  # Outputs: 1
print(my_list[-1]) # Outputs: 5 (last element)

In [ ]:
my_list.append(6)  # Adds 6 to the end
print(my_list)
my_list[0] = 0     # Changes the first element to 0
print(my_list)

In [ ]:
my_list.remove(3)  # Removes the first occurrence of 3
print(my_list)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

In [ ]:
print(my_tuple[1])  # Outputs: 2

In [ ]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(my_dict)

In [ ]:
print(my_dict['name'])  # Outputs: Alice

In [ ]:
my_dict['age'] = 26     # Updates the value of 'age'
print(my_dict)

In [ ]:
my_dict['email'] = 'alice@example.com'
print(my_dict)

In [ ]:
my_dict.pop('city')     # Removes the key 'city'
print(my_dict)

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
my_set.add(6)
print(my_set)

In [ ]:
my_set.remove(3)
print(my_set)